*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header{
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 64px;
    align-items: center;
    background-color:whitesmoke;
    
   
}



.main-header{
    display: flex;
    background-color: rgb(211,211,211);
    justify-content: center;
    
   
  
}

@media only screen and (max-device-width: 480px){

    
    
    .desktop{
        display: none;
    }

 .main-header{
    justify-content: center;
    /* background: url("../images/banner.jpg");
    background-size: cover;   */
       
}



    .mobile{
     width: 100%;
  }

  .mobile ul{
      display: flex;
      justify-content: space-evenly;
      
  }

    .mobile li{
        display: inline-flex;
    }


    .main-header-image{
        display: none;
        
    }

    .main-header-text-desktop{
        display: none;
    }



.main-banner-mobile{
    background-color: rgb(211,211,211);  
    position: relative;
    top: 60px;
    margin-bottom:76px ;
}


 

.main-banner-mobile img{
    max-width: 100%;
    height: auto;
    display: block;
    
}

.main-header-text-mobile h2{
    font-size: 40px;
    opacity: 0.7;
    padding: 32px 16px;
}

.main-header-text-mobile p{
    font-size: 25px;
    opacity: 0.7;
    padding-left: 16px;
   
}

.main-header-text-mobile button{
    padding: 8px 0;
    color: white;
    border: none;
    background-color: gray;
    height: 50px;
    margin-top:24px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
    width: 85%;
}
    
.main-section-aside-desktop{
    display: none;
}
.middle-section-left{
    display: none;
}


.main-section-aside-mobile{
    display: flex;
    flex-direction: column;
    margin: 0  16px;
    
    
}


.aside-image-mobile img{
   height: auto;
   width: 100%; 
}





.aside-text-mobile{
    margin: 64px 16px;
}



a{text-decoration: none;}

.courses-desktop{
    display: none;
}

.courses-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.courses-heading-mobile{
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.course-mobile{
    margin: 8px 16px;
    padding: 0 16px;
    padding-top: 16px;
    padding-bottom: 24px;    
    background-color: lightgray;
}

.exhibit-desktop{
    display: none;
}

.exhibit-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.exhibit-header-mobile{
    margin-top: 32px;
    margin-bottom: 16px;
    
}


.exhibit-video-mobile video{
    width: 100%;
}

.exhibit-video-mobile{
    margin-bottom: 24px;
}

.footer-aside{
    display: none;
}
.main-footer-text{
    padding: 16px;
}
}

@media only screen and (min-device-width:  480px){
    .mobile{
        display: none;
    }
    .desktop{
    display: flex;
    flex: 1;
   align-items: center;
}

.banner{
    position: relative;
    top: 60px;
}

.main-header-text-mobile{
    display: none;
}

.log-text{
    display: flex;
    flex: 1;
    margin: 24px;
    
}
span{
    opacity: 0.5;
}

.log-text h3{
    letter-spacing: 1px;
}

.log-text img{
    
    height: 32px;
}

.desktop-menu li{
    display: inline;
    padding: 8px;
  
    
    
}

.desktop-menu{
margin-right: 24px;
}

.desktop-menu li a{
    text-decoration: none;
}

.main-header-image{
    width: 60%;
    margin: 32px 24px;
    
}

.main-header-image img{
    max-width: 100%;
    height: auto;
    display: block;
    padding: 32px 24px;
}


.main-header-text-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.main-header-text-desktop h2{
    font-size: 50px;
    opacity: 0.7;
}

.main-header-text-desktop p{
    font-size: 27px;
    opacity: 0.7;
    margin-top: 30px;
}


.main-header-text-desktop button{
    padding: 8px 0;
    color: white;
    border: none;
    background-color: gray;
    margin-top: 30px;
    height: 50px;
    
}

.middle-section-main{
    display: flex;
}

.middle-section-left{
    width: 60%;
    margin: 32px 24px;
}


.middle-section-mian-img img{
    width: 100%;
    height: auto;
    
}

.main-section-info h2{
    font-size: 30px;
    margin-top: 32px;
}

.main-section-info p{
    font-size: 20px;
     margin-top: 24px;
     margin-bottom: 32px;
}

.main-section-info h3{
    font-size: 20px;
     margin-bottom: 32px;
     
}





.main-section-aside-desktop{
    width: 40%;
    display: flex;
    flex-direction: column;
   
     
}

.aside-desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 1ms;
    
}

.aside-desktop:hover{
    background-color: lightgrey;
}


.aside-image-desktop {
    width: 35%;
}

.aside-image-desktop img{
    width: 100%;
    height: auto;
    padding: 16px;
   
}

.aside-text-desktop{
    width: 65%;
}

.aside-text-desktop a{
    text-decoration: none;
}


.main-section-aside-mobile{
    display: none;
}

 .courses-desktop{
     margin: 32px 0;
     display: flex;
     flex-direction: column;
     background-color:  aliceblue;
     align-items: center;
     
      
 }
 .courses-heading-desktop{
     margin: 32px;
 }

 .courses-detail-desktop{   
     margin: 0 40px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-left: 16px;
     
 }

 .courses-info-desktop{
     margin: 32px;
     width: 25%;
    background-color: white;
     
 }

 .course-detail-desktop{
margin-left: 16px;

 }

 .course-detail-desktop h3{
     margin: 8px 0;
    
     

 }

 .course-detail-desktop h2{
     padding-top: 16px;
     
 }

 .course-detail-desktop p{
     padding-bottom: 24px;
 }

 .course-image-desktop img{
     display: block;
     max-width: 100%;
     height: auto;
 }

 .courses-mobile{
     display: none;
 }

 .exhibit-mobile{
     display: none;
 }
 
 .exhibit-desktop{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .exhibit-header-desktop{
     margin: 32px;
     
 }

 .exhibit-content-desktop{
     display: flex;
     height: auto;
     margin-bottom: 32px;

     
   
 }
 
 .exhibit-video-text{
     width: 60%;
 }

 .exhibit-video video{
     width: 100%;
     height: auto;
 }
 .exhibit-video-text{
     margin-left: 24px;
     margin-bottom: 32px;
     margin-top: 32px;
 }
.exhibit-text{
    margin-top: 24px;
}

.exhibit-text h2{
    margin-top: 8px;
}
 .exhibit-aside{
     
     width: 40%; 
     margin: 24px;
 }
 .exhibit-aside-content{
     display: flex;
     align-items: center;
     transition: background-color 1ms;
     
     /* justify-content: space-between; */
     /* width: 65%; */
     
 }
 .exhibit-aside-content:hover{
     background-color: lightgrey;
 }

 .aside-text{
     margin: 16px;
 }


 .aside-image{
    width: 35%;
 }
 .aside-image img{
     width: 100%;
     display: block;
     height: auto;
     margin: 16px 0;
     
 }

 footer{
     display: flex;
     border-top: 2px solid lightgrey;
     margin-top: 32px;

 }

 footer h3{
     
     padding: 16px 24px;
 }

 .main-footer-text{
     flex: 1;
     padding: 16px 24px;
 }

 .footer-aside ul li{
     display: inline;
     padding: 5px;
     
     
 }
 .footer-aside ul{
     padding-top:16px ;
 }
}


